* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.navbar {
  width: 100%;
  height: 65px;
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  width: 80px;
  padding-left: 15px;
}

.avatar img {
  width: 30px;
  padding-right: 15px;
}
