* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.banner {
  /* background-image:url(/public/banner.png); */
  width: 100%;
  background-size: cover;
  height: 455px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  height: 190px;
  padding-left: 50px;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.button {
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.3);
  cursor: pointer;
  margin-left: 0.3rem;
}
.button:hover {
  color: black;
  background-color: white;
}
.description {
  width: 40rem;
  max-width: 360px;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade_bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.61),
    #111
  );
}

@media (max-width: 767px) {
  .banner {
    width: 100svw;
    background-size: cover;
    background-position: center;
    height: 455px;
    color: white;
  }

  .content {
    padding-top: 185px;
    height: 190px;
    padding-left: 30px;
  }
  
}
